body {
    text-align: center;
    margin-top: auto;
    background-image: url("../assets/kim-possible.jpg");
    background-repeat: no-repeat;
    background-size: 
}

.shown-page {
    
}

#play-button {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-size: 1.4rem;
    margin-top: auto;

}
#guess-button {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-size: 1.4rem;
    margin-top: 20px;
}

#user-input {
    height: 50px;
    width: 90px;
    font-size: 1.4rem;
}

.counter {
    font-size: 1.5rem;
    color: white;
}

#guess-count {
    border: 5px solid white;
    height: 50px;
    width: 50px;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 2rem;
}

#result-text {
    font-size: 1.5rem;
}